.reorder-posts-tree-root {
	height: 100%;
}

.reorder-posts-tree-dragging-source {
	opacity: 0.3;
}

.reorder-posts-tree-placeholder {
	position: relative;
}

.reorder-posts-tree-drop-target {
	background-color: #e8f0fe;
}
