.reorder-posts-tree-root {
	height: 100%;
	margin: 0;
	padding: 0;

	li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

.reorder-posts-tree-dragging-source {
	opacity: 0.35;
}

.reorder-posts-tree-placeholder {
	position: relative;
}
